{{template "base" .}}
    {{define "title"}}
    <title>Home</title>
    {{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <h1>The home page</h1>
    </div>
</div>
{{end}}