{{template "base" .}}
{{define "content"}}

    <div class="container">


        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">Make reservation</h1>


                <form method="POST" action="" class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">First Name</label>
                        <input required type="text" class="form-control" id="first_name" name="first_name"
                               autocomplete="off">
                    </div>
                    <div class="col-md-6">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input required type="text" class="form-control" id="last_name" name="last_name" autocomplete="off">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input required type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Phone</label>
                        <input required type="tel" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Make Reservation</button>
                    </div>
                </form>

            </div>


        </div>


    </div>
{{end}}

